interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?tags=ask_hn&hitsPerPage=3
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":true},"exhaustiveNbHits":false,"exhaustiveTypo":true,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"SimingtonFCC"},"story_text":{"matchLevel":"none","matchedWords":[],"value":"Hi
        everyone, I\u2019m FCC Commissioner Nathan Simington, and I\u2019m here to
        discuss security updates for IoT devices and how you can make a difference
        by filing comments with the FCC.<p>As you know, serious vulnerabilities are
        common in IoT, and it often takes too long for these to be patched on end-user
        devices\u2014if the manufacturer even bothers to release an update, and if
        the device was even d[...]
