interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?tags=show_hn&hitsPerPage=3
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":true},"exhaustiveNbHits":false,"exhaustiveTypo":true,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"olalonde"},"title":{"matchLevel":"none","matchedWords":[],"value":"Show
        HN: This up votes itself"},"url":{"matchLevel":"none","matchedWords":[],"value":"http://news.ycombinator.com/vote?for=3742902&dir=up&whence=%6e%65%77%65%73%74"}},"_tags":["story","author_olalonde","story_3742902","show_hn"],"author":"olalonde","children":[3742928,3742935,3742938,3742942,3742945,3742946,3742950,3742951,3742958,3742961,3742964,3742967,3742968,3742974,3742985,3742988,3742996,3743028,3743049,3743064,3743096,3743103,3743110,3743142,3743146,3743154,3743170,3743208,3743244,3743286,3743308],"created_at":"2012-03-23T00:40:39Z","created_at_i":1332463239,"num_comments":82,"objectID":"3742902","points":3531,"story_id":3742902,"title":"Show
        HN: This up votes itself","updated_at":"2026-02-08T08:18:58Z","url":"http://news.ycombinator.com/vote?for=3742902&dir=up&whence=%6e%65%77%65%73%74"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"keepamovin"},"title":{"matchLevel":"none","matchedWords":[],"value":"Show
        HN: Gemini Pro 3 imagines the HN front page 10 years from now"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://dosaygo-studio.github.io/hn-front-page-2035/news"}},"_tags":["story","author_keepamovin","story_46205632[...]
