interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/items/9224
  response:
    body:
      string: '{"author":"BrandonM","children":[{"author":"dhouston","children":[{"author":"BrandonM","children":[],"created_at":"2007-04-06T01:39:04.000Z","created_at_i":1175823544,"id":9479,"options":[],"parent_id":9272,"points":null,"story_id":8863,"text":"You
        are correct that this presents a very good, easy-to-install piece of functionality
        for Windows users.  The Windows shortcomings that you point out are certainly
        problems, and I think that your software does a good job of overcoming that.<p>The
        part about efficient background sync is a good point, too.  I have noticed
        some minor lagging using curlftpfs in Linux, and that might be something that
        would make for a better solution in the Linux world, so thanks for that idea.<p>Your
        use-case described in #2 does make sense, but I still agree with others''
        comments here that claiming that it replaces USB drives is a bad idea in general.  All
        of your feedback was well-thought-out and appreciated; I only hope that I
        was able to give you a sneak preview of some of the potential criticisms you
        may receive.  Best of luck to you!","title":null,"type":"comment","url":null}],"created_at":"2007-04-05T16:47:01.000Z","created_at_i":1175791621,"id":9272,"options":[],"parent_id":9224,"points":null,"story_id":8863,"text":"1.
        re: the first part, many people want something plug and play. and even if
        they were plug and play, the problem is that the user experience (on windows
        at least) with online drives generally sucks, and you don''t have disconnected
        access.<p>windows for sure doesn''t hide latency well (CIFS is bad, webdav
        etc. are worse), and most apps are written as if the disk was local, and assume,
        for example, accessing a file only takes a few ms. if the server is 80ms away[...]
