interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?tags=front_page&hitsPerPage=5
  response:
    body:
      string: '{"exhaustive":{"nbHits":true,"typo":true},"exhaustiveNbHits":true,"exhaustiveTypo":true,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"i5heu"},"title":{"matchLevel":"none","matchedWords":[],"value":"uBlock
        filter list to hide all YouTube Shorts"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://github.com/i5heu/ublock-hide-yt-shorts/"}},"_tags":["story","author_i5heu","story_47016443","front_page"],"author":"i5heu","children":[47017366,47017376,47017379,47017438,47017512,47017513,47017516,47017519,47017596,47017664,47017718,47017744,47017748,47017942,47017951,47018000,47018061,47018124,47018173,47018210,47018248,47018268,47018278,47018350,47018363,47018403,47018469,47018482,47018519,47018619,47018663,47018688,47018716,47018776,47018851,47018944,47018959,47018960,47018968,47019161,47019196,47019350,47019650,47019692,47019724,47019830,47019832,47019860,47020116,47020333,47020524,47020582,47020596,47020642,47020812,47020818,47020861,47020896,47021154,47021204,47021215,47021367,47021537,47021550,47021785,47022274,47022455,47022591,47022856,47022949,47023092,47023345,47023845,47024059,47024744],"created_at":"2026-02-14T17:36:45Z","created_at_i":1771090605,"num_comments":306,"objectID":"47016443","points":1026,"story_id":47016443,"title":"uBlock
        filter list to hide all YouTube Shorts","updated_at":"2026-02-15T16:07:26Z","url":"https://github.com/i5heu/ublock-hide-yt-shorts/"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"panic"},"title":{"matchLevel":"none","matchedWords":[],"value":"I
        love the work of the ArchWiki maintainers"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://k7r.eu/i-love-the-work-of-the-archwiki-maintainers/"}},"_tags":["story","author_panic","story_47020191","front_page"],"author":"panic","children":[47020580,470205[...]
