interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?query=dropbox&tags=comment%2Cauthor_BrandonM&hitsPerPage=5&page=0
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"BrandonM"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"You
        might want to check out FUSE for Linux.  There are various programs built
        on top of it which allow remote filesystems to look exactly like local ones.  Two
        that I use are curlftpfs and sshfs.  It''s really nice to be able to perform
        any of my computer''s programs on these remote files, and it looks very similar
        to what <em>Dropbox</em> accomplishes.  Of course, you would need to have
        an FTP or SSH login somewhere, but you can get free FTP access from e.g. Lycos,
        so that shouldn''t be an issue.<p>In short, I guess I''m curious what separates
        <em>Dropbox</em> from using a free FTP service which is connected either through
        Windows'' built-in Network Places or Linux''s curlftpfs.  There are obvious
        differences, but are they enough to warrant fees?"},"story_title":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"My
        YC app: <em>Dropbox</em> - Throw away your USB drive"},"story_url":{"matchLevel":"none","matchedWords":[],"value":"http://www.getdropbox.com/u/2/screencast.html"}},"_tags":["comment","author_BrandonM","story_8863"],"author":"BrandonM","comment_text":"You
        might want to check out FUSE for Linux.  There are various programs built
        on top of it which allow remote filesystems to look exactly like local ones.  Two
        that I use are curlftpfs and sshfs.  It''s really nice to be able to perform
        any of my computer''s programs on these remote files, and it looks very similar
        to what Dropbox accomplishes.  Of course, you would need to have an FTP or
        SSH login somewhere, but you can get free FTP access from e.g. Lycos, so that
        shouldn''t be an issue.<p>In short, I guess I''m curious what separates Dropbox
        from using a free FTP service which is connected either through Windows''
        built-in Network Places or Linux''s curlftpfs.  There are obvious differences,
        but are they enough to warrant fees?","created_at":"2007-04-05T02:28:51Z","created_at_i":1175740131,"objectID":"9024","parent_id":8884,"story_id":8863,"story_title":"My
        YC app: Dropbox - Throw away your USB drive","story_url":"http://www.getdropbox.com/u/2/screencast.html","updated_at":"2025-03-21T16:17:59Z"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"BrandonM"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"One
        learns a lot in 8 years, it turns out.<p>To be fair, I was making an argument
        that it was trivial to replicate, and it was... Ubuntu, Google, Microsoft,
        and several others did just that. Kudos to <em>Dropbox</em> for their unanticipated
        (by me, anyway) staying power."},"story_title":{"matchLevel":"none","matchedWords":[],"value":"Show
        HN: Show HN"},"story_url":{"matchLevel":"none","matchedWords":[],"value":"https://news.ycombinator.com/show"}},"_tags":["comment","author_BrandonM","story_7984826"],"author":"BrandonM","children":[7996394],"comment_text":"One
        learns a lot in 8 years, it turns out.<p>To be fair, I was making an argument
        that it was trivial to replicate, and it was... Ubuntu, Google, Microsoft,
        and several others did just that. Kudos to Dropbox for their unanticipated
        (by me, anyway) staying power.","created_at":"2014-07-04T09:54:03Z","created_at_i":1404467643,"objectID":"7988051","parent_id":7987015,"story_id":7984826,"story_title":"Show
        HN: Show HN","story_url":"ht[...]
