interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?query=dropbox&tags=comment&hitsPerPage=5&page=0
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"jayhuang"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"Location:
        Vancouver, Canada<p>Remote: Yes<p>Willing to relocate: Yes<p>Technologies:
        HTML(5), CSS(3), Javascript (jQuery, Backbone.js, Angular.js), LESS/SASS,
        Git/SVN, Bower, Grunt, Protractor/Selenium, PHP (CakePHP, CodeIgniter, SlimPHP),
        Java, RESTful APIs, MongoDB, MySQL, MSSQL, Oracle, HANA<p>Focus on web development
        technologies, with experience on both the front and back-end. More recently
        focusing on front-end work; having users happy to interact with something
        I''ve built is what keeps me motivated.<p>Most recent project has been architecting
        and leading a team of 12 developers to build a next generation SaaS crowdfunding
        platform with a front-end built in AngularJS.<p>Resume: <a href=\"https://www.dropbox.com/s/db29lpydd6ag6uo/Jay%20Huang%20-%20Resume.pdf?dl=0\"
        rel=\"nofollow\">https://www.<em>dropbox</em>.com/s/db29lpydd6ag6uo/Jay%20Huang%20-%20...</a><p>Email:
        See resume"},"story_title":{"matchLevel":"none","matchedWords":[],"value":"Ask
        HN: Who wants to be hired? (August 2015)"}},"_tags":["comment","author_jayhuang","story_9996335"],"author":"jayhuang","comment_text":"Location:
        Vancouver, Canada<p>Remote: Yes<p>Willing to relocate: Yes<p>Technologies:
        HTML(5), CSS(3), Javascript (jQuery, Backbone.js, Angular.js), LESS&#x2F;SASS,
        Git&#x2F;SVN, Bower, Grunt, Protractor&#x2F;Selenium, PHP (CakePHP, CodeIgniter,
        SlimPHP), Java, RESTful APIs, MongoDB, MySQL, MSSQL, Oracle, HANA<p>Focus
        on web development technologies, with experience on both the front and back-end.
        More recently focusing on front-end work; having users happy to interact with
        something I&#x27;ve built is what keeps me motivated.<p>Most recent project
        has been architecting and leading a team of 12 developers to build a next
        generation SaaS crowdfunding platform with a front-end built in AngularJS.<p>Resume:
        <a href=\"https:&#x2F;&#x2F;www.dropbox.com&#x2F;s&#x2F;db29lpydd6ag6uo&#x2F;Jay%20Huang%20-%20Resume.pdf?dl=0\"
        rel=\"nofollow\">https:&#x2F;&#x2F;www.dropbox.com&#x2F;s&#x2F;db29lpydd6ag6uo&#x2F;Jay%20Huang%20-%20...</a><p>Email:
        See resume","created_at":"2015-08-03T20:27:08Z","created_at_i":1438633628,"objectID":"9999528","parent_id":9996335,"points":null,"story_id":9996335,"story_title":"Ask
        HN: Who wants to be hired? (August 2015)","updated_at":"2023-09-07T03:22:05Z"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"louisswiss"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"true
        (I''m assuming)...<p>I guess it depends whether we''re talking about start-ups
        or small businesses/hobby projects.<p>I don''t think I''ve heard of any start-ups
        which were sustainable at the beginning, whereas many small businesses/hobby
        projects are.<p>Drew Houston from <em>Dropbox</em> was also a solo dev at
        the very beginning of <em>Dropbox</em>, but I guess the very fact that by
        definition start-ups are destined to grow quickly means that new people need
        to be brought on board at some point..."},"story_title":{"matchLevel":"none","matchedWords":[],"value":"Ask
        HN: Solo developer successful startups examples?"},"story_url":{"matchLevel":"none","matchedWords":[],"value":""}},"_tags":["comment","author_louisswiss","story_9998096"],"author":"louisswiss","comment_text":"true
        (I&#x27;m assuming)...<p>I guess it depends whether we&#x27;re talking about
        start-ups or small businesses&#x2F;hobby projects.<p>I don&#x27;t think I&#x27;ve
        heard of any start-ups which were sustainable at the beginning, whereas many
        small businesses&#x2F;hobby projects are.<p>Drew Houston from Dropbox was
       [...]
