interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?query=dropbox&tags=comment%2Cstory_8863&hitsPerPage=5&page=0
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"Tichy"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"Maybe,
        but the encryption is entirely in the hands of the client application that
        <em>dropbox</em> provides (I suppose it is not open source), so it is still
        a matter of faith."},"story_title":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"My
        YC app: <em>Dropbox</em> - Throw away your USB drive"},"story_url":{"matchLevel":"none","matchedWords":[],"value":"http://www.getdropbox.com/u/2/screencast.html"}},"_tags":["comment","author_Tichy","story_8863"],"author":"Tichy","comment_text":"Maybe,
        but the encryption is entirely in the hands of the client application that
        dropbox provides (I suppose it is not open source), so it is still a matter
        of faith.","created_at":"2007-04-06T20:33:28Z","created_at_i":1175891608,"objectID":"9707","parent_id":8889,"story_id":8863,"story_title":"My
        YC app: Dropbox - Throw away your USB drive","story_url":"http://www.getdropbox.com/u/2/screencast.html","updated_at":"2024-09-19T16:18:45Z"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"dhouston"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"1.
        re: the first part, many people want something plug and play. and even if
        they were plug and play, the problem is that the user experience (on windows
        at least) with online drives generally sucks, and you don''t have disconnected
        access.<p>windows for sure doesn''t hide latency well (CIFS is bad, webdav
        etc. are worse), and most apps are written as if the disk was local, and assume,
        for example, accessing a file only takes a few ms. if the server is 80ms away[...]
