interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search_by_date?query=dropbox&tags=comment&hitsPerPage=5&page=0
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"masklinn"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"It\u2019s
        a bit odd that the accordion uses details but the <em>dropdow</em>ns require
        a custom element."},"story_title":{"matchLevel":"none","matchedWords":[],"value":"Oat
        \u2013 Ultra-lightweight, semantic, zero-dependency HTML UI component library"},"story_url":{"matchLevel":"none","matchedWords":[],"value":"https://oat.ink/"}},"_tags":["comment","author_masklinn","story_47021980"],"author":"masklinn","comment_text":"It\u2019s
        a bit odd that the accordion uses details but the dropdowns require a custom
        element.","created_at":"2026-02-15T15:44:07Z","created_at_i":1771170247,"objectID":"47024583","parent_id":47021980,"story_id":47021980,"story_title":"Oat
        \u2013 Ultra-lightweight, semantic, zero-dependency HTML UI component library","story_url":"https://oat.ink/","updated_at":"2026-02-15T15:47:42Z"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"gruez"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"Where''s
        the analogy breaks down is that AI isn''t producing verbatim copies. There''s
        no expectation that <em>dropbox</em> should be protected from clones, for
        instance."},"story_title":{"matchLevel":"none","matchedWords":[],"value":"AI
        is going to kill app su[...]
