interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?query=Dropbox&tags=story&hitsPerPage=5
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"PhilipA"},"title":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"Drop
        <em>Dropbox</em>"},"url":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"http://www.drop-<em>dropbox</em>.com/"}},"_tags":["story","author_PhilipA","story_7566069"],"author":"PhilipA","children":[7566128,7566141,7566146,7566157,7566158,7566162,7566163,7566170,7566182,7566183,7566184,7566187,7566197,7566200,7566219,7566220,7566221,7566225,7566228,7566238,7566243,7566244,7566247,7566256,7566264,7566268,7566269,7566271,7566281,7566286,7566290,7566295,7566311,7566318,7566323,7566343,7566359,7566360,7566385,7566400,7566402,7566405,7566410,7566417,7566418,7566423,7566433,7566437,7566454,7566466,7566467,7566468,7566498,7566502,7566517,7566530,7566532,7566536,7566576,7566599,7566625,7566636,756[...]
