interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search_by_date?query=Dropbox&tags=story&hitsPerPage=5
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"ragelink"},"story_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["dropbox"],"value":"We
        built PlanOpticon to solve a problem we kept hitting: hours of recorded meetings,
        training sessions, and presentations that nobody rewatches. It extracts structured
        knowledge from video \u2014 transcripts, diagrams, action items, key points,
        and a knowledge graph \u2014 into browsable outputs (Markdown, HTML,\n   PDF).<p>How
        it works:<p><pre><code>  - Extracts frames using change detection (not just
        every Nth frame), with periodic capture for slow-evolving content like screen
        shares\n  - Filters out webcam/people-only frames automatically via face detection\n  -
        Transcribes audio (OpenAI Whisper API or local Whisper \u2014 no API needed)\n  -
        Sends frames to vision models to identify and recreate diagrams as Mermaid
        code\n  - Builds a knowledge graph (entities + relationships) from the transcript\n  -
        Extracts key points, action items, and cross-references between visual and
        spoken content\n  - Generates a structured report with everything linked together\n</code></pre>\nSupports
        OpenAI, Anthropic, and Gemini as providers \u2014 auto-discovers available
        models and routes each task to the best one. Checkpoint/resume so long analyses
        survive failures.<p><pre><code>  pip install planopticon\n  planopticon analyze
        -i meeting.mp4 -o ./output\n</code></pre>\nAlso supports batch processing
        of entire folders and pulling videos from Google Drive or <em>Dropbox</em>.<p>Example:
        We ran it on a 90-minute training session: 122 frames extracted (from thousands
        of candidates), 6 diagrams recreated, full transcript with speaker diarization,
        540-node knowledge graph, and a comprehensive report \u2014 all in about 25
        minutes.<p>Python 3.10+, MIT licensed. Docs at <a href=\"https://planopticon.dev\"
        rel=\"nofollow\">https://planopticon.dev</a>."},"title":{"matchLevel":"none","matchedWords":[],"value":"Show
        HN: PlanOpticon \u2013 Extract structured knowledge from video recordings"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://github.com/ConflictHQ/PlanOpticon"}},"_tags":["story","author_ragelink","story_47021448","show_hn"],"author":"ragelink","created_at":"2026-02-15T06:10:31Z","created_at_i":1771135831,"num_comments":0,"objectID":"47021448","points":2,"story_id":47021448,"story_text":"We
        built PlanOpticon to solve a problem we kept hitting: hours of recorded meetings,
        training sessions, and presentations that nobody rewatches. It extracts structured
        knowledge from video \u2014 transcripts, diagrams, action items, key points,
        and a knowledge graph \u2014 into browsable outputs (Markdown, HTML,\n   PDF).<p>How
        it works:<p><pre><code>  - Extracts frames using change detection (not just
        every Nth frame), with [...]
